<div class="container-introduction">
  <!-- <span class="cms-subtitle">Chat a.i+</span> -->
  <!-- <h2 class="cms-title"> <span>Diseña tus muebles y generar un presupuesto</span></h2> -->
  <!-- <p class="cms-text">¿Cómo puedo ayudarte?</p> -->
  <!--<div class="content-video">
    <app-video-player></app-video-player>
  </div> -->
  <!-- quiero agregar un gif quiero que sea un poco mas pequeno -->
  <div class="content-gif" >
    <img src="./assets/images/gif_muebles_02.gif" alt="Gif" width="650" height="350">
  </div>
